*{
    margin: auto;
    padding: 10px;
    font-family: Nunito Sans;
}


.flex-container {
    background-color: #544F53;
    color: white;
    width: fit-content;


  }
 
  .box {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}
  .img {
    width: 200px;
    height: 150px;
    }
  

  
  .t {
    position: absolute;
    background-color: #AB1F83;
    left: 20px;
    top: 30px;
    z-index: 1;
  }




