*{
    margin: auto;
    padding: 10px;
    font-family: Nunito Sans;
}


.flex-container {
    display: flex;
    background-color: #544F53;
    color: white;
    width: fit-content;


  }
  .img {
    position: relative;
    width: 200px;
    height: 150px;
    padding: 30px ;
    }
  

  
  .t {
    position: absolute;
    background-color: #AB1F83;
   
  }
